
@{
    ViewBag.Title = "ProductCategory";
}

img {
    max-width: 100%;
    max-height: 100%;
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>E-commerce grid</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong>Products Inventory</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    @foreach (WebDemo.Models.ProductCategory item in Model)
    {
        <div class="row">

            @foreach (var subItem in item.Products)
            {
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">

                            <div >
                                <img src=@subItem.ProductImg style='width: 100%; ' >
                            </div>
                            <div class="product-desc">
                                <span class="product-price">
                                    Stock - @subItem.InStock
                                </span>
                                <small class="text-muted">Category</small>
                                <a href="#" class="product-name"> @item.ProductCat - @subItem.ProductName</a>



                                <div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>
                                <div class="m-t text-righ">

                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    }



</div>

